# TALLER NRO. 2, PANDAS + MATPLOTLIB

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import datetime, timedelta

## Importar ambas tablas de datos en python usando pandas. Poner la columna del índice en "MESS_DATUM" y analizar los valores de la columna como fechas.

In [2]:
garmisch  = pd.read_csv('data/garmisch.txt', sep=";")

# Bucle que permite cambiar la por tip Date
for i in garmisch['MESS_DATUM']:
    s = str(i)
    date = datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))
    garmisch['MESS_DATUM'] =  garmisch['MESS_DATUM'].replace(i,date)

# Para cambiar de id del dataframe
garmisch_index = pd.DataFrame(garmisch.set_index('MESS_DATUM'))
garmisch_index

#print(garmisch.dtypes)

,STATIONS_ID,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
MESS_DATUM,,,,,,,,,,,,,,,,,,
2017-10-10,1550,10,5.6,1.0,3,0.0,6,2.300,0,7.5,9.4,937.40,9.3,82.50,15.7,4.6,3.0,eor
2017-10-11,1550,10,-999.0,-999.0,3,0.0,0,9.533,0,2.6,9.1,938.41,9.2,81.04,18.5,2.9,1.4,eor
2017-10-12,1550,10,-999.0,-999.0,3,0.0,0,9.483,0,1.9,9.0,941.30,10.6,75.92,22.2,3.1,1.1,eor
2017-10-13,1550,10,-999.0,-999.0,3,0.0,0,9.483,0,3.8,10.3,944.63,10.7,82.04,19.5,4.8,2.9,eor
2017-10-14,1550,10,-999.0,-999.0,3,0.0,0,9.617,0,0.3,9.9,944.99,11.2,78.67,21.4,3.9,1.9,eor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-04-08,1550,1,4.4,0.9,1,4.1,6,0.000,0,7.8,9.1,926.83,6.9,91.04,8.9,5.5,4.8,eor
2019-04-09,1550,1,7.6,1.5,1,21.7,6,1.767,0,7.8,9.2,925.75,8.4,84.38,13.8,4.6,3.5,eor
2019-04-10,1550,1,6.2,1.3,1,1.5,6,0.000,0,7.8,9.5,925.77,7.6,91.13,9.7,6.0,5.9,eor
2019-04-11,1550,1,7.4,1.8,1,0.0,6,0.000,0,7.9,8.6,930.73,5.7,93.21,7.1,4.5,3.9,eor
2019-04-12,1550,1,5.8,1.6,1,0.0,6,0.000,0,8.0,6.8,933.15,4.4,80.63,6.2,3.0,2.9,eor

In [3]:
zugspitze = pd.read_csv('data/zugspitze.txt', sep=";")
# Bucle que permite cambiar la por tip Date
for i in zugspitze['MESS_DATUM']:
    s = str(i)
    date = datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))
    zugspitze['MESS_DATUM'] =  zugspitze['MESS_DATUM'].replace(i,date)


# Para cambiar de id del dataframe
zugspitze_index = pd.DataFrame(zugspitze.set_index('MESS_DATUM'))
zugspitze_index

#print(zugspitze.dtypes)

,STATIONS_ID,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
MESS_DATUM,,,,,,,,,,,,,,,,,,
2017-10-10,5792,10,15.3,6.8,3,0.2,7,2.133,64,7.3,4.1,711.35,-4.5,93.67,-3.0,-6.1,-999,eor
2017-10-11,5792,10,23.3,12.1,3,0.0,0,10.517,62,3.0,3.9,714.43,-1.3,70.21,0.9,-3.6,-999,eor
2017-10-12,5792,10,24.2,11.1,3,0.0,0,9.350,60,1.7,4.4,717.22,-1.2,78.04,0.1,-2.6,-999,eor
2017-10-13,5792,10,20.0,8.6,3,0.0,0,10.383,55,4.0,3.5,720.26,0.9,52.63,2.7,-0.8,-999,eor
2017-10-14,5792,10,9.8,4.3,3,0.0,0,10.917,50,1.0,4.9,722.57,4.8,58.04,8.8,1.6,-999,eor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-04-08,5792,1,9.3,3.6,1,2.7,7,1.417,435,7.9,3.6,700.58,-6.0,92.83,-2.9,-7.4,-999,eor
2019-04-09,5792,1,10.1,5.1,1,8.9,7,7.167,430,6.9,3.8,700.74,-5.2,90.29,-2.9,-6.9,-999,eor
2019-04-10,5792,1,9.5,2.5,1,10.1,7,0.833,435,7.9,3.9,700.27,-4.9,91.92,-2.5,-6.2,-999,eor
2019-04-11,5792,1,8.7,3.1,1,1.6,7,0.000,430,8.0,3.2,702.51,-7.5,91.46,-6.0,-10.7,-999,eor
2019-04-12,5792,1,9.6,2.5,1,0.0,7,8.833,430,6.3,2.1,702.93,-8.0,66.38,-2.7,-11.8,-999,eor

## Recorta las tablas a el año 2018 [1P]

In [4]:
garmisch_index.loc['2018'].head(10)

,STATIONS_ID,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
MESS_DATUM,,,,,,,,,,,,,,,,,,
2018-01-01,1550,10,4.0,1.1,3,2.1,8,0.067,19,5.5,5.6,925.96,-0.6,95.25,4.4,-3.8,-10.0,eor
2018-01-02,1550,10,10.1,1.6,3,4.6,8,0.717,20,7.0,5.6,930.25,0.8,86.83,4.6,-1.8,-7.9,eor
2018-01-03,1550,10,20.1,2.0,3,13.3,8,0.000,21,7.4,6.4,922.28,2.2,88.83,5.9,0.0,-1.2,eor
2018-01-04,1550,10,5.2,0.9,3,49.8,8,0.000,19,7.3,6.8,921.36,1.8,97.79,5.4,0.6,0.0,eor
2018-01-05,1550,10,4.4,1.1,3,0.0,0,3.250,17,5.8,7.3,921.57,3.1,95.58,8.5,-1.1,-5.7,eor
2018-01-06,1550,10,4.1,1.4,3,0.0,0,4.417,16,3.4,5.7,924.68,-0.1,93.96,7.0,-2.3,-6.6,eor
2018-01-07,1550,10,3.8,1.4,3,0.0,0,0.000,16,8.0,6.1,932.33,0.6,95.46,4.4,-0.9,-3.8,eor
2018-01-08,1550,10,4.3,1.3,3,0.0,0,1.983,16,6.7,6.0,935.12,0.8,93.17,4.8,-1.1,-4.3,eor
2018-01-09,1550,10,14.1,1.9,3,0.9,6,3.767,16,5.3,6.2,929.84,3.0,83.50,12.7,-1.8,-5.0,eor
2018-01-10,1550,10,3.1,1.1,3,0.0,0,4.517,14,5.8,5.1,929.05,-0.5,87.29,7.7,-3.7,-7.6,eor

In [5]:
zugspitze_index.loc['2018'].head(10)

,STATIONS_ID,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
MESS_DATUM,,,,,,,,,,,,,,,,,,
2018-01-01,5792,10,31.4,11.8,3,5.3,7,2.133,263,6.0,2.2,698.43,-10.2,78.67,-5.2,-13.2,-999,eor
2018-01-02,5792,10,27.2,11.5,3,14.2,7,0.067,260,6.7,1.9,698.88,-13.4,87.58,-7.2,-15.8,-999,eor
2018-01-03,5792,10,48.6,18.3,3,14.4,7,0.017,270,8.0,3.0,694.87,-8.8,92.08,-4.1,-13.7,-999,eor
2018-01-04,5792,10,35.7,15.8,3,39.5,7,0.000,280,8.0,3.6,694.91,-7.0,95.38,-3.3,-12.9,-999,eor
2018-01-05,5792,10,30.6,13.6,3,0.0,7,4.567,310,6.7,3.6,698.36,-5.0,84.75,-3.1,-6.7,-999,eor
2018-01-06,5792,10,27.0,13.7,3,0.0,0,8.167,305,3.7,2.8,700.52,-5.9,72.00,-3.9,-6.8,-999,eor
2018-01-07,5792,10,29.3,11.4,3,0.0,0,0.000,305,7.0,2.9,707.02,-5.8,72.71,-3.2,-7.1,-999,eor
2018-01-08,5792,10,44.2,14.7,3,0.0,7,3.767,305,3.7,3.1,709.18,-6.1,79.38,-3.5,-7.2,-999,eor
2018-01-09,5792,10,45.3,16.7,3,2.5,7,5.817,305,5.0,2.9,704.37,-7.4,81.83,-5.2,-9.9,-999,eor
2018-01-10,5792,10,19.6,5.5,3,0.0,0,8.350,305,4.3,2.2,701.38,-9.7,73.25,-8.0,-11.9,-999,eor

## Volver a muestrear los datos de temperatura a promedios mensuales (" TMK") y los datos de precipitaciones a sumas mensuales (" RSK"): [1P]

In [6]:
garmisch_agg = pd.DataFrame({'Promedio': [garmisch_index[' TMK'].mean()], 'Suma': [garmisch_index[' RSK'].sum()]})
garmisch_agg

   Promedio    Suma
0  6.725818  1861.8

In [7]:
zugspitze_agg = pd.DataFrame({'Promedio': [zugspitze_index[' TMK'].mean()], 'Suma': [zugspitze_index[' RSK'].sum()]})
zugspitze_agg

   Promedio    Suma
0 -4.838364  3218.8

In [30]:
# Define una función de trazado que dibuja un simple diagrama climático
# Agrega los argumentos como se menciona en la lista de documentos abajo [1P]
# Establece el rango de temperatura por defecto de -15°C a 20°C y el rango de precipitaciones de 0mm a 370mm [1P]

def crear_diagrama_climatico(a, b, c=2):
    """
    Dibuja un diagrama climático.
    
    Parametros
    ----------
    df : pd.DataFrame
        Dataframe de datos con valores para graficar
    temp_col : str
        Nombre de la columna de temperatura
    prec_col : str
        Nombre de la columna de precipitación
    title : String
        El título para la figura
    filename : String
        El nombre de la figura de salida
    temp_min : Number
        El valor mínimo de temperatura a mostrar
    temp_max : Number
        El valor máximo de temperatura a mostrar
    prec_min : Number
        El valor mínimo de precipitación a mostrar
    prec_max : Number
        El valor máximo de precipitación a mostrar

    Returns
    -------
    La figura
    
    """

    fig = plt.figure(figsize=(10,8))
    plt.rcParams['font.size'] = 16

    ax2 = fig.add_subplot(111)
    ax1 = ax2.twinx()

    
    
    # Dibuja los valores de temperatura como una línea roja y los valores de precipitación como barras azules: [1P]
    # Pista: Revisa la documentación de matplotlib cómo trazar gráficos de barras (plt.bar?). Intenta establecer directamente la correcta
    # etiquetas del eje X (nombres cortos de los meses)
    ax2.bar(df.index.strftime("%b"), df.loc[:," RSK"].values, ...)
    ax1.plot(...)
    
    # Establezca los límites apropiados para cada eje Y usando los argumentos de la función: [1P]
    ax2.
    ax1.
    
    # Ponga las etiquetas apropiadas a cada eje Y: [1P]
    ax2.
    ax1.

    # Dale a tu diagrama el título de los argumentos proporcionados: [1P]
    plt.title(...)

    # Guarda la figura como imagen png en la carpeta "output" con el nombre de archivo dado. [1P]
    #...
    return fig

# Utilice esta función para dibujar un diagrama climático para 2018 para ambas estaciones y guarde el resultado: [1P]
crear_diagrama_climatico(...)
crear_diagrama_climatico(...)

SyntaxError: invalid syntax (<ipython-input-30-e00a120e42b5>, line 51)